---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif: "SFProDisplay", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: "SFProDisplay";
    src: //url("/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
         //url("/assets/fonts/SFProDisplay-Regular.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFProDisplay-RegularItalic.woff2") format("woff2"),
         url("/assets/fonts/SFProDisplay-RegularItalic.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFProDisplay-SemiBold.woff2") format("woff2"),
         url("/assets/fonts/SFProDisplay-SemiBold.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFProDisplay-SemiBoldItalic.woff2") format("woff2"),
         url("/assets/fonts/SFProDisplay-SemiBoldItalic.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-SemiBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFProDisplay-Bold.woff2") format("woff2"),
         url("/assets/fonts/SFProDisplay-Bold.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-Bold.ttf") format("truetype");
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("/assets/fonts/SFProDisplay-BoldItalic.woff2") format("woff2"),
         url("/assets/fonts/SFProDisplay-BoldItalic.woff") format("woff"),
         url("/assets/fonts/SFProDisplay-BoldItalic.ttf") format("truetype");
    font-weight: 1000;
    font-style: italic;
}

/* Media stuff */
p.caption, figcaption {
    width: 100%;
    text-align: center;
    margin-top: -0.9em !important;
    margin-bottom: 1.3em;
    font-size: 0.7em !important;
    color: $muted-text-color;
    font-family: $caption-font-family;
}
p.video-caption {
    text-align: center;
    margin-top: -1.3em !important;
    font-size: 0.7em !important;
}
div.fluid-width-video-wrapper{
    margin-bottom: 1.3em;
}
p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.instagram-media {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Masthead stuff */
.site-logo {
    width: 3rem;
}

.site-logo img {
    max-height: 3rem;
}

.masthead {
    &__inner-wrap {
        padding: 0.5em;
    }
}

/* Generic font design stuff */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
}

h1,h2 {
    font-weight: 1000;
}

h3,h4,h5,h6 {
    font-weight: 700;
}

blockquote {
    margin: 1em 1em 1em 0;
}

nav {
    ul {
        padding: 0 0.5em 0 0;
    }
}

.page__content {
    h2 {
        border: 0;
    }
    p,
    li,
    dl {
    font-size: 0.8rem;
    }
}

.btn {
    font-size: 0.9em;
}

/* Gallery stuff */
figure {
    margin: 0;
}

div.mfp-title a {
    color: #f3f3f3;
}

div.mfp-title a:hover, div.mfp-title a:active{
    color: #cccccc;
}

/* Post: Table of contents */
.toc .nav__title {
    background: #6f777d;
}

.toc .active a {
    background-color: #e2e4e5;
}