---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "/assets/fonts/inter.css";

/* Media stuff */
p.caption, figcaption {
    width: 100%;
    text-align: center;
    margin-top: -0.9em !important;
    margin-bottom: 1.3em;
    font-size: 0.7em !important;
    color: $muted-text-color;
    font-family: $caption-font-family;
}
p.video-caption {
    text-align: center;
    margin-top: -1.3em !important;
    font-size: 0.7em !important;
}
div.fluid-width-video-wrapper{
    margin-bottom: 1.3em;
}
p img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.instagram-media {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    max-width: 100% !important;
}

/* Masthead stuff */
.site-logo {
    width: 3rem;
}

.site-logo img {
    max-height: 3rem;
}

.masthead {
    &__inner-wrap {
        padding: 0.5em;
    }
}

/* Generic font design stuff */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em 0;
}

h1,h2 {
    font-weight: 1000;
}

h3,h4,h5,h6 {
    font-weight: 700;
}

blockquote {
    margin: 1em 1em 1em 0;
}

nav {
    ul {
        padding: 0 0.5em 0 0;
    }
}

.page__content {
    h2 {
        border: 0;
    }
    p,
    li,
    dl,
    summary {
        font-size: 0.8rem;
    }
    details summary::-webkit-details-marker {
        font-size: 0.8em;
    }
    details summary::marker {
        font-size: 0.8em;
    }
    ol,
    ul {
        padding-left: 1.32rem; /* (22(fontsize)*.8(em)*3)/40(boxpadding) */
    }
}

.btn {
    font-size: 0.9em;
}

/* Gallery stuff */
figure {
    margin: 0;
}

div.mfp-title a {
    color: #f3f3f3;
}

div.mfp-title a:hover, div.mfp-title a:active{
    color: #cccccc;
}

/* Post: Table of contents */
.toc {
    .nav__title {
        background: #6f777d;
    }
    .active a {
        background-color: #e2e4e5;
    }
    ol,
    ul {
        padding-left: 0;
    }
}
