---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
	"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$monospace: "Fira Code", Monaco, Consolas, "Lucida Console", monospace !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "/assets/fonts/Inter/inter.css";
@import "/assets/fonts/FiraCode/fira_code.css";

/*
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html {
  scroll-behavior: smooth;
}
*/

/* Media stuff */
p.caption,
figcaption {
	width: 100%;
	text-align: center;
	margin-top: -0.9em !important;
	margin-bottom: 1.3em;
	font-size: 0.7em !important;
	color: $muted-text-color;
	font-family: $caption-font-family;
}
p.video-caption {
	text-align: center;
	margin-top: -1.3em !important;
	font-size: 0.7em !important;
	font-family: $caption-font-family;
}
div.fluid-width-video-wrapper {
	margin-bottom: 1.3em;
}
p img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.instagram-media {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100% !important;
	max-width: 100% !important;
}

/* Masthead stuff */
.site-logo {
	width: 3rem;
}
.site-logo img {
	max-height: 3rem;
}
.masthead {
	&__inner-wrap {
		padding: 0.5em;
	}
}

/* Generic font design stuff */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 0;
}
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
h3 {
	font-size: 1.125rem;
}
blockquote {
	margin: 1em 1em 1em 0;
}
nav {
	ul {
		padding: 0 0.5em 0 0;
	}
}
.page__content {
	h2 {
		border: 0;
	}
	p,
	li,
	dl,
	summary {
		font-size: 0.8rem;
	}
	ol,
	ul {
		padding-left: 1.32rem; /* (22(fontsize)*.8(em)*3)/40(boxpadding) */
	}
}
.btn {
	font-size: 0.9em;
}

/* Gallery stuff */
figure {
	margin: 0;
}
div.mfp-title a {
	color: #f3f3f3;
}
div.mfp-title a:hover,
div.mfp-title a:active {
	color: #cccccc;
}

/* Post: Table of contents */
.toc {
	.nav__title {
		background: #6f777d;
	}
	.active a {
		background-color: #e2e4e5;
	}
	ol,
	ul {
		padding-left: 0;
		li {
			font-size: 0.75rem;
		}
	}
}

/* Accordion */
input:not(.search-input) {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.tab {
	width: 100%;
	overflow: hidden;
	font-size: 0.8rem;
	&-label {
		display: flex;
		justify-content: left;
		padding-left: 0.3em;
		font-weight: 600;
		margin: 0;
		cursor: pointer;
		/* Icon */
		&::before {
			content: "\276F";
			width: 1em;
			height: 1em;
			text-align: center;
			transition: all 0.35s;
		}
	}
	&-content {
		max-height: 0;
		padding: 0;
		transition: all 0.35s;
	}
}

// :checked
input:checked {
	+ .tab-label {
		&::before {
			transform: rotate(90deg);
			margin-top: 0.25em;
		}
	}
	~ .tab-content {
		max-height: 10000vh;
	}
}

// details disclosure
details {
	summary::-webkit-details-marker {
		display: none;
	}
	summary {
		cursor: pointer;
		list-style: none;
	}
	summary::before {
		content: "\276F";
		display: inline-flex;
		margin-right: 0.4em;
		font-weight: 600;
		font-size: 0.9em;
	}
}

details[open] {
	summary::before {
		animation: rotate 0.3s ease-in-out forwards;
	}

	@keyframes rotate {
		100% {
			transform: rotate(90deg);
		}
	}

	summary ~ * {
		animation: sweep 0.5s ease-in-out;
	}

	@keyframes sweep {
		0% {
			opacity: 0;
			transform: translate(0, -2em);
		}
		100% {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

/* Katex rendering */
span.katex {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

.sidebar__top {
	position: fixed;
	bottom: 1.5em;
	right: 2em;
	z-index: 10;
	display: none;
}

.sidebar__right {
	@include breakpoint($large) {
		&.sticky {
			overflow-y: auto;
			/* calculate height of nav list
			   viewport height - nav height - masthead x-padding
			*/
			height: calc(100vh - #{$nav-height} - 2em);
		}
	}
}
