@import "minimal-mistakes/variables";

$sans: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
	"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$mono: "Fira Code", Monaco, Consolas, "Lucida Console", monospace !default;

@import "/assets/fonts/Inter/inter.css";
@import "/assets/fonts/FiraCode/fira_code.css";

.reveal {
	font-family: $sans;
	cursor: url("/assets/images/pointer.png") 25 25, pointer;
	code,
	pre {
		font-family: $mono;
	}
	figcaption {
		margin-bottom: 0.5em;
		color: $muted-text-color;
		font-family: $caption-font-family;
		font-size: $type-size-6;

		a {
			-webkit-transition: $global-transition;
			transition: $global-transition;

			&:hover {
				color: $link-color-hover;
			}
		}
	}
	.sizedImg {
		height: 400px;
		width: auto;
	}
}
