$sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
	"Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$serif: Georgia, Times, serif !default;

$monospace: "Fira Code", Monaco, Consolas, "Lucida Console", monospace !default;

@import "/assets/fonts/Inter/inter.css";
@import "/assets/fonts/FiraCode/fira_code.css";

$mainFont: $sans-serif;
$mainFontSize: 36px;
$headingFont: $sans-serif;
$headingFontWeight: 600;
$codeFont: $monospace;

.reveal {
	cursor: url("/assets/images/pointer.png") 25 25, pointer;
	mark {
		background: rgb(29, 116, 35);
		color: white;
	}
	figcaption {
		margin-bottom: 0.5em;
		color: #878787;
		font-family: $serif;
		font-size: 0.75em;
	}
	.sizedImg {
		height: 400px;
		width: auto;
	}
}
