---
---

@import 'reveal/reveal-main';

.reveal {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
  h1 {
    font-size: 3.2em;
  }
  mark {
    background: rgb(124, 91, 7);
    color: white;
  }  
}
