---
layout: default
---
<h1>{{ page.title }}</h1>
{% assign wordCount = content | number_of_words %}
<p>&#128100; {{ page.author }} - &#128197; {{ page.date | date_to_string }} - {{ wordCount }} min read</p>

{{ content }}

<hr>
<div class="post-tags">
    Tags&#58;
    {% assign tags = page.tags %}
    {% for tag in tags %}
    <a href="{{site.baseurl}}/tags/#{{tag|slugify}}">{{tag}}</a>
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
</div>

<style>.post-tags{font-size: 12px}</style>
<style>hr {margin-top: 15px; margin-bottom:15px;}</style>
<style>.instagram-media{margin:15px auto!important;}</style>