---
layout: compress
---
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	{% include seo.html %}
	<link rel="icon" href="/assets/images/eagle ver 2.1.3.1-lowres.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" href="/assets/reveal.js/dist/reset.css" />
	<link rel="stylesheet" href="/assets/reveal.js/dist/reveal.css" />
	<link rel="stylesheet" href="/assets/reveal.js/dist/theme/night.css" id="theme" />
	<link rel="stylesheet" href="/assets/css/reveal/night-custom.css" id="theme" />
	<link rel="stylesheet" href="/assets/reveal.js/plugin/highlight/monokai.css" id="highlight-theme" />
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				{{ content | replace: '<p>===</p>', '</section><section>' }}
			</section>
		</div>
	</div>

	<script src="/assets/reveal.js/dist/reveal.js"></script>
	<script src="/assets/reveal.js/plugin/notes/notes.js"></script>
	<script>
		/*
		More info about initialization & config:
		- https://revealjs.com/initialization/
		- https://revealjs.com/config/
		*/
		Reveal.initialize({
			hash: true,
			slideNumber: true,
			transitionSpeed: "fast",
			fragments: true,
			fragmentInURL: true,
			plugins: [RevealNotes],
		});
	</script>
</body>

</html>
